/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	padding: 2rem 3rem;
	border-radius: 0.3rem;
	transition: background .3s;
}

.btn--white {
	background: #fff;
	color: $c-base;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			background: #dedede;
		}
	}
}

.btn--dark {
	background: $c-base;
	color: #fff;
	border: none;
	font-weight: bold;

	@media (hover: hover) {
		&:where(:hover, :focus-visible) {
			background: #000;
		}
	}
}

.btn--small {
	padding: 1.5rem;
	font-size: 1.4rem;
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
