/* ------------------------------------------------------------ *\
	Field
\* ------------------------------------------------------------ */

.field {
	width: 100%;
	height: 4.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 2rem;
	box-shadow: none;

	&.field--textarea {
		padding: 2rem;
		height: 10rem;
		resize: vertical;
	}
}
