/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	display: flex;
	flex-flow: row wrap;
	margin-inline: -1.5rem;

	@include breakpoint-down(mobile) {
		display: block;
	}

	.grid__col {
		max-width: 100%;
		flex: 0 0 100%;
		padding: 0 1.5rem;
	}

	/*  Grid col 1of2  */
	.grid__col--1of2 {
		flex: 0 0 50%;
	}

	/*  Grid col 1of3  */
	.grid__col--1of3 {
		flex: 0 0 calc(100% / 3);
	}

	/*  Grid col 1of4  */
	.grid__col--1of4 {
		flex: 0 0 calc(100% / 4);

		@include breakpoint-down(tablet) {
			flex: 0 0 calc(100% / 2);
		}
	}

	.grid__col--tablet-full {
		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
		}
	}


	.grid__col--tablet-full ~ .grid__col--tablet-full {
		@include breakpoint-down(tablet) {
			margin-top: 2rem;
		}
	}
}

.grid--vertical-gap {
	row-gap: 3rem;


	.grid__col ~ .grid__col {
		@include breakpoint-down(mobile) {
			margin-top: 2rem;
		}
	}
}
