/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-figure {
  background: #fff;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  right: auto;
  left: 100%;
  width: auto;
  margin-left: 15px;
}

img.mfp-img {
  padding: 0;
}


/* ------------------------------------------------------------ *\
  mfp-interactive
\* ------------------------------------------------------------ */

.mfp-interactive.mfp-bg {
  background: #282828;
}

.mfp-interactive.mfp-bg.mfp-ready {
  opacity: 1;
}

.mfp-interactive .mfp-close {
  color: #fff;
  opacity: 1;
  font-size: 50px;
}
