/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup {
	display: flex;
	align-items: flex-start;
	color: #fff;
	padding: 3rem;

	@include breakpoint-down(tablet) {
		flex-direction: column-reverse;
		padding: 3rem;
	}

	.popup__images {
		pointer-events: none;

		@include breakpoint-down(tablet) {
			padding: 0 2.5rem;
		}

		@include breakpoint-down(mobile) {
			padding: 0.5rem;
		}
	}

	.popup__images,
	.popup__content {
		flex: 0 0 50%;
	}

	.popup__content {
		padding: 2.5rem;
		position: sticky;
		top: 0;

		@include breakpoint-down(tablet) {
			position: static;
		}

		@include breakpoint-down(mobile) {
		padding: 1.5rem;
		}
	}

	.popup__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
