<footer class="footer">
	<div class="shell">
		<div class="grid footer__cols">
			<div class="grid__col footer__col grid__col--1of3">
				<a href="/" class="footer__logo">
					<img src="/assets/images/logo.png" alt="logo" width="300" height="119">
				</a>
			</div><!-- /.grid__col -->

			<div class="grid__col footer__col grid__col--1of3">
				<h5>Контакти</h5>

				<ul class="list-contacts">
					<li>
						<figure>
							<i class="fa-solid fa-house"></i>
						</figure>

						<span>ул. Македония 29А, Варна</span>
					</li>

					<li>
						<figure>
							<i class="fa-solid fa-phone"></i>
						</figure>

						<span>
							<a href="tel:+359879320295">+359 879 320 295</a>
						</span>
					</li>

					<li>
						<figure>
							<i class="fa-solid fa-envelope"></i>
						</figure>

						<span><a href="mailto:office@home-express.bg">office@home-express.bg</a></span>
					</li>
				</ul><!-- /.list-contacts -->
			</div><!-- /.grid__col -->

			<div class="grid__col footer__col grid__col--1of3">
				<h5>Социални мрежи</h5>

				<div class="socials">
					<ul>
						<li>
							<a href="#">
								<i class="fa-brands fa-facebook"></i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.grid__col -->
		</div><!-- /.grid__cols -->

		<p class="footer__copyright">Copyright 2023 | New home Ltd. - All Rights Reserved &copy;
		</p><!-- /.copyrights -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->

<div class="wrapper__actions js-show-on-scroll">
	<a href="#hero" class="btn-top">
		<i class="fa-solid fa-angle-up"></i>
	</a>
</div><!-- /.wrapper__actions -->
