<header class="header">
	<div class="shell">
		<div class="header__inner">
			<a href="/" class="logo">
				<img src="/assets/images/logo.png" alt="logo" width="136" height="54">
			</a>

			<a href="#" class="nav-trigger js-nav-trigger">
				<span></span>

				<span></span>

				<span></span>
			</a>

			<nav class="nav">
				<ul>
					<li class="is-active">
						<a href="#">Начало</a>
					</li>

					<li>
						<a href="#">Нов обект</a>
					</li>

					<li>
						<a href="#">Касиопея парк</a>
					</li>

					<li>
						<a href="#">Контакти</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- /.header -->
