<header class="header">
	<div class="shell">
		<div class="header__inner">
			<a href="home.html" class="logo">
				<img src="/assets/images/logo.png" alt="logo" width="136" height="54">
			</a>

			<a href="#" class="nav-trigger js-nav-trigger">
				<span></span>

				<span></span>

				<span></span>
			</a>

			<nav class="nav">
				<ul>
					<li class="{{#if active_home}}is-active{{/if}}">
						<a href="home.html">Начало</a>
					</li>

					<li class="{{#if active_six-diamonds}}is-active{{/if}}">
						<a href="six-diamonds.html">Six diamonds</a>
					</li>

					<li class="{{#if active_kasiopea}}is-active{{/if}}">
						<a href="kasiopea.html">Касиопея парк</a>
					</li>

					<li class="{{#if active_contact}}is-active{{/if}}">
						<a href="contact.html">Контакти</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- /.header -->
